.topnav {
    background-color: #fff;
    overflow: hidden;
    border-top: 1px solid #32373c2b;
    border-bottom: 1px solid #32373c2b;
    width: 100%;
    /* Style the links inside the navigation bar */
    a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    a.ninja-tab-active {
        color: #ffa92c;
        border-bottom: 2px solid #ffa92c;
    }
}
.update-nag {
    display: none;
}